/*  your css code here. If applicable */
#Animal-photos>{
	 display: flex;
            flex-wrap: wrap;
            justify-content:center;
            gap: 10px;
	background-color:grey;
	border:1px solid gray;
}
img{
	width: 150px;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
#photo-heading{
	text-align:center;
    color:white;
}
body{
	background-color:gray;
}
 